# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - mlops-ccfd-wa

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: mlopsazmlacr.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A8375F522B99411B93E2717FA4380574 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_0FC3099C0CB34C98B09D5093D14F6B82 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: mlopsazmlacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A8375F522B99411B93E2717FA4380574 }}/fraud-api:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9483A9A745DF4DE89E779A4EFE9DE7E2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_524E06E00DF2471EBFBB02BC1F3D9EDB }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_53EC7E4BCEDA483D8EA0071F62DCF183 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'mlops-ccfd-wa'
          slot-name: 'Production'
          images: 'mlopsazmlacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A8375F522B99411B93E2717FA4380574 }}/fraud-api:${{ github.sha }}'
          