# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - mlops-ccfd-wa

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: mlopsazmlacr.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3152464623394E59AD30A2B334F581FC }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_66501FF0D0A54D0C8ED4E47A297FFCD3 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: mlopsazmlacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3152464623394E59AD30A2B334F581FC }}/fraud-api:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_68A7F23EED994D4F98E5C04BAE723B15 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_BDEE075260824842B52CFD6A6A4D8370 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_BBCFF2D2FD524AC4AC9284F0C9C51B43 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'mlops-ccfd-wa'
          slot-name: 'Production'
          images: 'mlopsazmlacr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3152464623394E59AD30A2B334F581FC }}/fraud-api:${{ github.sha }}'
          